#Ignore data files
/NewModelFolder/Files/RingkøbingData.csv
/ServerReady/Data/dataset.pt
/NewModelFolder/Files/dataset.pt
/BaselineModel/Files/RingkøbingData.csv
/LSTMModel/Files/RingkøbingData.csv

#Pycache and pyc files ignored
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs
*.log
/.python-version
/.venv/
/.venv311/
/.venv313/
*.DS_Store
.idea
/FinalLSTM/Experiments/Experiment_1/data/dataset.pt
/FinalLSTM/Experiments/Experiment_4/data/dataset.pt
/FinalLSTM/Experiments/Experiment_3/data/dataset.pt
/FinalLSTM/Experiments/Experiment_3/data/dataset_syn1.pt
/FinalLSTM/Experiments/Experiment_3/data/dataset_syn2.pt
/FinalLSTM/Experiments/Experiment_3/data/dataset_syn3.pt
/FinalLSTM/Experiments/Experiment_3/data/RingkøbingData.csv
/FinalLSTM/Experiments/Experiment_3/data/RingkøbingData_2.csv
/FinalLSTM/Experiments/Experiment_3/data/synthetic_S00_mixed.csv
/NewModelFolder/Files/Aalborg_Weather_2017_2022_Formatted.csv
/NewModelFolder/Files/synthetic_S00_mixed.csv